---
apiVersion: v1
kind: Namespace
metadata:
  name: nginx-velero
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-deployment
  namespace: nginx-velero
  labels:
    app: nginx
    openshift-example: "yes"
spec:
  replicas: 1
  selector:
    matchLabels:
      app: nginx
  template:
    metadata:
      labels:
        app: nginx
        openshift-example: "yes"
    spec:
      containers:
      - name: nginx
        image: nginxinc/nginx-unprivileged:1.23.1
        ports:
        - containerPort: 8080
