apiVersion: v1
kind: Pod
metadata:
  labels:
    run: not-so-simple-pod
    openshift-example: yes
  name: not-so-simple-pod
spec:
  containers:
  - image: registry.redhat.io/ubi8/ubi:8.3
    env:
    - name: VARIABLE
      valueFrom:
        configMapKeyRef:
          name: podenv
          key: variable
    - name: SECRET
      valueFrom:
        secretKeyRef:
          name: geheim
          key: secret
    name: simple-pod
    command:
      - bash
      - /usr/local/bin/run.sh
    volumeMounts:
      - name: run
        mountPath: "/usr/local/bin/"
        readOnly: true
      - name: config
        mountPath: "/etc/test"
        readOnly: true
  volumes:
  - name: run
    configMap:
      name: run
  - name: config
    configMap:
      name: config
      items:
      - key: "configuration"
        path: "config.yml"
